@import '~@less/base/article-tag.less';
.article-digest{
  .row;
  position: relative;
  margin-top: 40px;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  animation: appear 0.4s ease-in-out;
  &:first-child{
    margin-top: 0px;
  }
  .content{
    .col;
    flex: 2.2;
  }
  .title{
    .row;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 0px 10px;
    border-bottom: 1px solid #353535;
    text-align: left;
    align-items: center;
    letter-spacing: 4px;
    justify-content: space-between;
    .tag-content{
      .row;
      .tag{
        margin-left: 6px;
        white-space: nowrap;
      }
    }
  }
  .image-warp{
    flex: 1;
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    .image{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding-bottom: 70%;
      width: 100%;
      border-radius: 10px;
    }
  }
  .describe{
    text-indent: 2em;
    color: #878787;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .footer{
    .row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    .statistics{
      .row;
      align-items: center;
      span{
        margin: 0px 6px;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
    .time{
      color: #878787;
      letter-spacing: 1px;
    }
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}