.articleDigest{
  height: 120px;
  width: 80%;
  background: #fffffc;
  margin: 40px auto;
  padding: 0px 10px;
  text-align: left;
  transition: height 0.3s;
  .articleTitle{
    display: flex;
    height: 40px;
    color: #363636;
    font-size: 28px;
    border-bottom: 1px solid #363636;
    span{
      display: block;
      margin:auto 0px;
    }
  }
  .content{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #363636;
    padding: 10px 0px;
    img{
      height: 80px;
      width: 80px;
    }
  }
  .summary{
    display: flex;
    color: #858585;
  }
  .footer{
    display: flex;
    color: #858585;
    justify-content: space-between;
  }
}