@import '~@less/font-line.less';
@import '~@less/base/border.less';
.main{
  .col;
  .title{
    .row;
    padding: 10px 40px;
    background: #24292e;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    .logo-menu{
      .row;
      align-items: center;
    }
    .login{
      font-weight: 600;
      font-size: 20px;
      padding: 10px 0px 10px 20px;
      cursor: pointer;
      color: #fffffc;
    }
  }
  .content{
    .row;
    margin: 0px 40px;
    justify-content: space-between;
  }
}