@import '~@less/font-line.less';
@import '~@less/base/border.less';
.main{
  .col;
  overflow: hidden;
  .title{
    .row;
    padding: 10px 40px;
    background: #24292e;
    position: fixed;
    // position: sticky;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    .logo-menu{
      .row;
      align-items: center;
    }
    .login{
      font-weight: 600;
      font-size: 20px;
      padding: 10px 0px 10px 20px;
      cursor: pointer;
      color: #fffffc;
    }
  }
  .content{
    .row;
    margin: 72px 0px 0px;
    height: calc(100vh - 72px);
    overflow: hidden;
    justify-content: space-between;
  }
}