@import '~@less/base/border.less';
.article{
  .row;
  justify-content: space-between;
  overflow: hidden;
  .articleList{
    flex: 2;
    overflow: hidden;
    padding: 40px 0px;
    // transition: height 0.3s;
    .footer{
      .col;
      height: 100px;
      button {
        margin: auto;
      }
    }
  }
  .hot-list{
    .col;
    flex: 1;
    .title{
      font-size: 20px;
      text-align: right;
      margin-top: 20px;
    }
  }
}